{% extends "shell/base.html" %}

{% block title %}ParkOps / Panel{% endblock %}
{% block page_title %}Panel de Control{% endblock %}

{% block content %}

{% include 'shell/partials/_messages_alert.html' with messages=messages %}

<!-- Cards métricas -->
<div class="row g-3 mb-4">

    <!-- Resumen parqueo -->
    <div class="col-12 col-lg-4">
        {% include 'parking/partials/_parking_total_entries_money_today.html' with parking_total=total_daily_income today_entries=total_today_count_entries parking_month_total=total_monthly_income %}
    </div>

    <!-- Resumen suscripciones mensuales -->
    <div class="col-12 col-lg-4">
        {% include 'parking/partials/_parking_subscription_summary.html' with parking_total=total_subscriptions_month_income %}
    </div>

    <!-- Resumen baños -->
    <div class="col-12 col-lg-4">
        {% include 'partials/_bathrooms_summary.html' with parking_total=total_daily_income today_entries=total_today_count_entries parking_month_total=total_monthly_income %}
    </div>

</div>

<!-- Acciones rápidas -->
<div class="mb-2">
    <small class="text-muted">Acciones rápidas</small>
</div>

<div class="row g-3">

    <!-- Parking -->
    <div class="col-12 col-md-6 col-lg-4">
        {% include 'parking/partials/_parking_principal_access_button.html' %}
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        {% include 'parking/partials/_parking_principal_access_month_button.html' %}
    </div>
    <!-- Baños -->
    <div class="col-12 col-md-6 col-lg-4">
        {% include 'partials/_bathrooms_principal_access_button.html' %}
    </div>

</div>

{% endblock %}

{% block footer %}
    {% include 'shell/partials/_footer.html' %}
{% endblock %}
