{% extends "shell/base.html" %}

{% block title %}ParkOps / Iniciar Sesión{% endblock %}
{% block page_title %}Iniciar Sesión{% endblock %}

{% block content %}

<!-- Mensajes-->
{% include 'shell/partials/_messages_alert.html' %}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

        <div class="card bg-dark text-light border-0 shadow-lg rounded-4 p-4">

            <!-- Título -->
            <div class="text-center mb-4">
                <h3 class="h4 fw-bold mb-1">ParkOps</h3>
                <small class="text-muted">Control de Parqueo</small>
            </div>

<!-- Formulario -->
<form method="POST">
    {% csrf_token %}

    <!-- Usuario -->
    <div class="mb-3">
        <label class="form-label small text-muted">Usuario</label>
        <div class="input-group w-100">
            <span class="input-group-text bg-dark text-light border border-secondary">
                <i class="bi bi-person-fill"></i>
            </span>
            <input type="text"
                   name="username"
                   class="form-control bg-dark text-light border border-secondary"
                   placeholder="Usuario"
                   required>
        </div>
    </div>

    <!-- Contraseña -->
    <div class="mb-3">
        <label class="form-label small text-muted">Contraseña</label>
        <div class="input-group w-100">
            <span class="input-group-text bg-dark text-light border border-secondary">
                <i class="bi bi-lock-fill"></i>
            </span>
            <input type="password"
                   name="password"
                   class="form-control bg-dark text-light border border-secondary"
                   placeholder="Contraseña"
                   required>
        </div>
    </div>

    <!-- Botón -->
    <button type="submit" class="btn btn-success w-100 rounded-pill shadow-sm">
        <i class="bi bi-box-arrow-in-right me-1"></i>
        Iniciar Sesión
    </button>
</form>


            <!-- Link de soporte -->
            <div class="text-center mt-3">
                <small class="text-muted">¿Olvidaste tu contraseña?</small>
            </div>

        </div>
    </div>
</div>

{% endblock %}
